# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed

# Coverage directory used by tools like istanbul
coverage
packages/*/coverage/
.nyc_output

# node-waf configuration
.lock-wscript

# Compiled binary addons (http://nodejs.org/api/addons.html)
build/Release
packages/*/build/Release

# Dependency directory
# https://docs.npmjs.com/misc/faq#should-i-check-my-node-modules-folder-into-git
node_modules
packages/*/node_modules/

.tmp

.DS_Store

# Intellij project configration
.idea/

typings
packages/*/typings
.tsdrc
packages/*/typings
jsconfig.json
coverage
dist
packages/*/dist
spec-js
packages/*/spec-js
