language: node_js
node_js:
  - "6"

before_install:
  - curl -o- -L https://yarnpkg.com/install.sh | bash -s -- --version 0.27.5
  - export PATH="$HOME/.yarn/bin:$PATH"
cache:
  yarn: true

script:
  - "npm run build_all"
